.spice-Container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    padding: 20px;
    margin: 0 20px;
}

@media only screen and (max-width : 590px) {
    .spice-Container {
        grid-template-columns: repeat(1, 1fr);
    }

}

@media only screen and (min-width : 590px) and (max-width:993px) {
    .spice-Container {
        grid-template-columns: repeat(2, 1fr);
    }
}
.font-colr{
    color: ghostwhite;
}