.card button {
    background-color: rgba(91, 80, 82, 0.746);
}

.card {
    background-color: rgba(58, 48, 50, 0.746);
}

.card div a {
    text-decoration: none;
    color: rgba(41, 35, 36, 0.746);
}

.card button:hover {
    background-color: rgba(139, 116, 120, 0.746);
}

.card-container {
    box-shadow: 10px 10px 15px rgba(58, 51, 52, 0.746);
}