.card button {
    background-color: rgba(255, 180, 42, 0.842);
}

.card {
    background-color: rgba(250, 135, 41, 0.808);
}

.card div a {
    text-decoration: none;
    color: brown;
}

.card button:hover {
    background-color: rgb(252, 220, 80);
}

.card-container {
    box-shadow: 10px 10px 15px rgb(161, 138, 72);
}