.footerName {
    color: rgb(252, 40, 2);
    font-family: cursive;
    font-size: 40px;
    text-decoration: underline;
    margin-bottom: 10px;
}

.hori-line {
    box-shadow: 0px 4px 4px rgb(10, 8, 0);
}

.footer-content-heading {
    color: rgb(252, 40, 2);
    font-family: cursive;
    font-size: 30px;
    text-decoration: underline;
    margin-bottom: 10px;
}

.footer-link-container {
    line-height: 10px;
}

.footer-link-container a {
    text-decoration: none;
    color: rgb(110, 17, 1);
}

.footer-link-container a:hover {
    color: rgb(226, 36, 2);

}

.logo-container {
    padding: 20%;
}

.footer-content-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 15px;
    padding: 10px auto;
}

@media only screen and (max-width : 590px) {
    .footer-content-container {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 20px;
    }

}

@media only screen and (min-width : 590px) and (max-width:993px) {
    .footer-content-container {
        grid-template-columns: repeat(2, 1fr);
    }
}