.add-form {
    border: 1px solid rgba(27, 25, 25, 0.746);
    border-radius: 3px;
    background-color: rgba(91, 80, 82, 0.746);
}


.formLabel {
    font-size: 20px;
    font-weight: 600;

}

.formInput {
    width: 50%;
    border-radius: 5px;
    border: 1px solid hsl(0, 5%, 41%);
    height: 30px;
}

.formBtn {
    border: 2px solid rgb(39, 32, 32);;
    border-radius: 3px;
    background-color: rgba(58, 48, 50, 0.746);;
    width: 100px;
    margin-left: 15px;
}